<mat-toolbar> 
  <mat-progress-bar mode="indeterminate" *ngIf="scalping"></mat-progress-bar>
    <span style="margin-top:10px">Gospider Anime Scraper</span>
    <span style="justify-content: right;display: flex;"><mat-slide-toggle [checked]="auto_download" (toggleChange)="auto_download = !auto_download" matTooltip="Automatically begin to download episodes as they are crawled" color="accent">Auto Download</mat-slide-toggle></span>
</mat-toolbar>
<mat-toolbar style="height:120px"> 
      <form class="example-form" #form = "ngForm" (ngSubmit) = "deployScalper(form.value)">
        <mat-form-field class="example-full-width" style="width:350px">
          <mat-label>Link</mat-label>
          <input matInput required placeholder="v2.gogoanime.co.in link" name="url" ngModel>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="fill">
          <mat-label>Quality</mat-label>
          <select matNativeControl required name="quality" ngModel>
            <option value="0">360p</option>
            <option value="1">480p</option>
            <option value="2">720p</option>
            <option value="3">1080p</option>
          </select>
        </mat-form-field> &nbsp;
        <mat-form-field class="example-full-width" style="width:100px">
          <mat-label>Start Episode</mat-label>
          <input matInput type="number" required placeholder="Start Episode"  name = "start_episode" ngModel>
        </mat-form-field> &nbsp;
        <mat-form-field class="example-full-width" style="width:100px">
          <mat-label>End Episode</mat-label>
          <input matInput placeholder="End Episode" required type="mumber" name="end_episode" ngModel>
        </mat-form-field> 
        &nbsp;
        &nbsp;
        <button mat-flat-button color="primary" [disabled]="scalping"> {{ scalping ? "Scalping...This might take a while. Restart application to stop" : "Find Links" }} </button>
      </form>
</mat-toolbar>
<table mat-table [dataSource]="episodes" class="mat-elevation-z8" #table *ngIf="episodes.length != 0" style = "background: transparent;">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="episode">
    <th mat-header-cell *matHeaderCellDef> Episode No. </th>
    <td mat-cell *matCellDef="let element"> {{element.episode}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef> Download </th>
    <td mat-cell *matCellDef="let element"> <button (click)="openInChrome(element.link)" mat-flat-button color="accent" [disabled]="element.link == 'failed'" >{{ element.link == 'Failed' ? "Failed" : "Download In Chrome"}}</button> </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<main id = "main" style="background:#EFF5F5;height:100%">

</main>
